.modal {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.modal[aria-hidden="false"],
.modal:target {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal--full .modal__body {
	max-width: none;
	max-height: none;
	width: 100%;
	height: 100%;
}

.modal__body-open {
	// To be placed on the <body> tag when a modal is open

	// Uncomment this rule to prevent background scrolling
	// while a modal window is open:
	// overflow: hidden;
}
.modal__body-open--full {
	overflow: hidden;
}

.modal__body {
	box-sizing: border-box;

	position: relative;
	overflow: auto;

	width: 100%;
	height: 100%;
}
